*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}


body{
    background-color: black;
   
}

.header{
    margin: 20px;
    display: flex;
    justify-content: center;
  

    &__img{
      width: 300px;
  
      
    }
}   

.main{
    margin: 20px;
    color: #13a5bf;
    

    }

.form{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        margin: 0 auto 20px auto;
        width: 200px;
        font-size: 24px;
        text-align: center;

       
    }
.label {
    display: block;
    margin-bottom: 10px;
    font-size: 38px;
    font-family: "Creepster", system-ui;
    }

.input{
    border: 2px solid #13a5bf;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: "Creepster", system-ui;
    border: 4px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--color-blue);
    padding: 10px;
    text-align: center;
    font-family: "Creepster", system-ui;
  
    font-size: 20px;
}

.img{
    width: 150px;
}
.cards{
    background-color:#13a5bf;
    color: white;
    width: 150px;
    margin: 20px;

 
}
.text-cards{
    padding: 5px;
    text-align: center;
    font-family: "Creepster", system-ui;
    font-size: 20px;
}
.character-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }

.filtered{
    background-color:#13a5bf;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
   /*  margin: 20px; */
    border-radius: 10px;
    border: 5px solid #56a241;
 

    &__img{
        margin-top: 20px;
        width: 200px;
       
        
    }
    &__text-cards{
        text-align: center;
        font-size: 24px;
        padding: 10px;
    }
}
.section{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    font-family: "Creepster", system-ui;
 
}

.button-container {
 
    align-self: flex-start; 
    margin-bottom: 20px; 
  
   
}
.button{
  
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 5px solid #56a241;
    background-color: #07B0C6;
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-family: "Creepster", system-ui;
   
  
}

.not-found{
    font-size: 20px;
    text-align: center;
    padding: 100px;
    font-family: "Creepster", system-ui;
}

.select-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto 20px auto;
    width: 200px;
    font-size: 24px;
    text-align: center;
    
}
.select{
    border: 4px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--color-blue);
    color: white;
    padding: 10px;
    text-align: center;
    font-family: "Creepster", system-ui;
    margin-bottom: 50px;
    font-size: 20px;
}




@media screen and (min-width: 780px) {
    .filtered {
        flex-direction: row;
        &__img{
            margin: 20px;
            width: 200px;
           
            
        }
}

}